<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<stringAttribute key="bad_container_name" value="\net.sf.sveditor.refdesigns.tests\launa"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/net.sf.sveditor.refdesigns.tests/src/net/sf/sveditor/refdesigns/tests/UVMRefFlowPerfTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value="testUvmRefFlowIndexPerf"/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.sveditor.refdesigns.tests.UVMRefFlowPerfTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="net.sf.sveditor.refdesigns.tests"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:${workspace_loc:net.sf.sveditor.refdesigns.tests}/../../jip-1.2/profile/profile.jar &#13;&#10;-Dprofile.properties=${workspace_loc:net.sf.sveditor.refdesigns.tests}/../../profiles/uvm_ref_flow.properties&#13;&#10;-XX:-UseSplitVerifier -server"/>
</launchConfiguration>
