// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: cmp.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"

//
// Keep consistant with other SPARC benches
//
//
// See cmp_common.config !!! <---

<cmp1>
    -model=cmp1
#include "cmp_common.config"
    -fsdbfile=cmp1_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp1_top.vcd
    -config_rtl=CORE_0
    -config_rtl=RTL_NO_SPC1
    -config_rtl=RTL_NO_SPC2
    -config_rtl=RTL_NO_SPC3
    -config_rtl=RTL_NO_SPC4
    -config_rtl=RTL_NO_SPC5
    -config_rtl=RTL_NO_SPC6
    -config_rtl=RTL_NO_SPC7
    -config_rtl=CMP1
    -diaglist_cpp_args=-DALL_THREADS=8

    // these are in diaglist now so they get used.
    -drm_freeram=1200
    -drm_freeswap=1200

    -max_cycle=2000000
    -midas_args=-DALL_THREADS=0xff
    -midas_args=-DMAX_THREADS=8
    -rtl_timeout=3000
    -sas_run_args=-DSP0
    -sunv_args=-define=RTL_NO_SPC1
    -sunv_args=-define=RTL_NO_SPC2
    -sunv_args=-define=RTL_NO_SPC3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive.list
    -vcs_run_args=+ASI_CORE_AVILABLE=ff
    -vcs_run_args=+ASI_CORE_ENABLE=ff
    -vera_build_args=SYS_NAME=cmp1
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH"
    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp1>
    
<cmp1l2x>
    -model=cmp1l2x
#include "cmp_common.config"
    -fsdbfile=cmp1l2x_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp1l2x_top.vcd
    -config_rtl=CORE_0
    -config_rtl=CMP1
    -config_rtl=NOL2RTL
    -diaglist_cpp_args=-DALL_THREADS=8
    -drm_freeram=1200
    -drm_freeswap=1200
    -max_cycle=2000000
    -midas_args=-DALL_THREADS=0xff
    -midas_args=-DMAX_THREADS=8
    -rtl_timeout=1000
    -sas_run_args=-DSP0
    -sunv_args=-define=RTL_NO_SPC1
    -sunv_args=-define=RTL_NO_SPC2
    -sunv_args=-define=RTL_NO_SPC3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive_noL2.list
    -vcs_build_args=+define+NOL2RTL
    -vcs_run_args=+ASI_CORE_AVILABLE=ff
    -vcs_run_args=+ASI_CORE_ENABLE=ff
    -vcs_run_args=+enableMemBFM=ff
    -vcs_run_args=+noL2rtl
    -vera_build_args=SYS_NAME=cmp1l2x
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH -DNOL2RTL"
    
    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp1l2x>

<cmp0l2x>
    -model=cmp0l2x
#include "cmp_common.config"
    -fsdbfile=cmp0l2x_top.fsdb
    -config_rtl=CMP0
    -config_rtl=CMP0l2x    
    -vcs_build_args=+define+CMP0
    -vcs_build_args=+define+CMP0l2x    
    -config_rtl=NOL2RTL
    -diaglist_cpp_args=-DALL_THREADS=0
    -drm_freeram=1000
    -drm_freeswap=1000
    -max_cycle=2000000
//     -midas_args=-DALL_THREADS=0x00
//     -midas_args=-DMAX_THREADS=0   
    -rtl_timeout=100000
    -nosas    
    -sunv_args=-define=RTL_NO_SPC0    
    -sunv_args=-define=RTL_NO_SPC1
    -sunv_args=-define=RTL_NO_SPC2
    -sunv_args=-define=RTL_NO_SPC3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive_noL2.list
    -vcs_build_args=+define+NOL2RTL
    -vcs_run_args=+ASI_CORE_AVILABLE=0
    -vcs_run_args=+ASI_CORE_ENABLE=0
    -vcs_run_args=+enableMemBFM=ff
    -vcs_run_args=+enableSpcBFM=ff
    -vcs_run_args=+noL2rtl
    -vera_build_args=SYS_NAME=cmp0l2x
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH -DNOL2RTL -DCMP0 -DVERA_DIAGS"
    -vcs_run_args=+notlb_sync
    -vcs_run_args=+noldst_sync
    -vcs_run_args=+noint_sync
    -vcs_run_args=+noerr_sync
    -vcs_run_args=+lsu_mon_off
    -vcs_run_args=+err_chkrs_off    
</cmp0l2x>


<cmp2>
    -model=cmp2
#include "cmp_common.config"
    -fsdbfile=cmp2_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp2_top.vcd
    -config_rtl=CORE_0
    -config_rtl=CORE_1
    -config_rtl=CMP2
    -diaglist_cpp_args=-DALL_THREADS=16
    -drm_freeram=1400
    -drm_freeswap=1400    
    -max_cycle=2500000
    -midas_args=-DALL_THREADS=0xffff
    -midas_args=-DMAX_THREADS=16
    -rtl_timeout=10000
    -sas_run_args=-DSP0
    -sas_run_args=-DSP1
    -sunv_args=-define=RTL_NO_SPC2
    -sunv_args=-define=RTL_NO_SPC3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive.list
    -vcs_run_args=+ASI_CORE_AVILABLE=ffff
    -vcs_run_args=+ASI_CORE_ENABLE=ffff
    -vera_build_args=SYS_NAME=cmp2
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH"

    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp2>

<cmp2l2x>
    -model=cmp2l2x
#include "cmp_common.config"
    -fsdbfile=cmp2l2x_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp2l2x_top.vcd
    -config_rtl=CORE_0
    -config_rtl=CORE_1    
    -config_rtl=CMP2
    -config_rtl=NOL2RTL
    -diaglist_cpp_args=-DALL_THREADS=16
    -drm_freeram=1400
    -drm_freeswap=1400
    -max_cycle=2500000
    -midas_args=-DALL_THREADS=0xffff
    -midas_args=-DMAX_THREADS=16
    -rtl_timeout=10000
    -sas_run_args=-DSP0
    -sas_run_args=-DSP1
    -sunv_args=-define=RTL_NO_SPC2
    -sunv_args=-define=RTL_NO_SPC3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive_noL2.list
    -vcs_build_args=+define+NOL2RTL
    -vcs_run_args=+ASI_CORE_AVILABLE=ffff
    -vcs_run_args=+ASI_CORE_ENABLE=ffff
    -vcs_run_args=+enableMemBFM=ff    
    -vcs_run_args=+noL2rtl
    -vera_build_args=SYS_NAME=cmp2l2x
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH -DNOL2RTL"

    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp2l2x>


<cmp4>
    -model=cmp4
#include "cmp_common.config"
    -fsdbfile=cmp4_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp4_top.vcd
    -config_rtl=CMP4
    -config_rtl=CORE_0
    -config_rtl=CORE_1
    -config_rtl=CORE_2
    -config_rtl=CORE_3
    -diaglist_cpp_args=-DALL_THREADS=32
    -drm_freeram=1700
    -drm_freeswap=1700    
    -max_cycle=3000000
    -midas_args=-DALL_THREADS=0xffffffff
    -midas_args=-DMAX_THREADS=32
    -rtl_timeout=15000
    -sas_run_args=-DSP0
    -sas_run_args=-DSP1
    -sas_run_args=-DSP2
    -sas_run_args=-DSP3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive.list
    -vcs_run_args=+ASI_CORE_AVILABLE=ffffffff
    -vcs_run_args=+ASI_CORE_ENABLE=ffffffff
    -vera_build_args=SYS_NAME=cmp4
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH"
    
    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp4>


<cmp4l2x>
    -model=cmp4l2x
#include "cmp_common.config"
    -fsdbfile=cmp4l2x_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp4l2x_top.vcd
    -config_rtl=CMP4
    -config_rtl=CORE_0
    -config_rtl=CORE_1
    -config_rtl=CORE_2
    -config_rtl=CORE_3
    -config_rtl=NOL2RTL
    -diaglist_cpp_args=-DALL_THREADS=32
    -drm_freeram=1700
    -drm_freeswap=1700    
    -max_cycle=3000000
    -midas_args=-DALL_THREADS=0xffffffff
    -midas_args=-DMAX_THREADS=32
    -rtl_timeout=15000
    -sas_run_args=-DSP0
    -sas_run_args=-DSP1
    -sas_run_args=-DSP2
    -sas_run_args=-DSP3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive_noL2.list
    -vcs_build_args=+define+NOL2RTL
    -vcs_run_args=+ASI_CORE_AVILABLE=ffffffff
    -vcs_run_args=+ASI_CORE_ENABLE=ffffffff
    -vcs_run_args=+enableMemBFM=ff    
    -vcs_run_args=+noL2rtl
    -vera_build_args=SYS_NAME=cmp4l2x
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH -DNOL2RTL"
    
    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp4l2x>


<cmp8>
    -model=cmp8
#include "cmp_common.config"
    -fsdbfile=cmp8_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp8_top.vcd
    -config_rtl=CMP8
    -config_rtl=CORE_0
    -config_rtl=CORE_1
    -config_rtl=CORE_2
    -config_rtl=CORE_3
    -config_rtl=CORE_4
    -config_rtl=CORE_5
    -config_rtl=CORE_6
    -config_rtl=CORE_7
    -diaglist_cpp_args=-DALL_THREADS=64
    -drm_freeram=1800
    -drm_freeswap=1800    
    -max_cycle=4200000
    -midas_args=-DALL_THREADS=0xffffffffffffffff
    -midas_args=-DMAX_THREADS=64
    -rtl_timeout=17000
    -sas_run_args=-DSP0
    -sas_run_args=-DSP1
    -sas_run_args=-DSP2
    -sas_run_args=-DSP3
    -sas_run_args=-DSP4
    -sas_run_args=-DSP5
    -sas_run_args=-DSP6
    -sas_run_args=-DSP7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive.list
    -vcs_run_args=+ASI_CORE_AVILABLE=ffffffffffffffff
    -vcs_run_args=+ASI_CORE_ENABLE=ffffffffffffffff
    -vera_build_args=SYS_NAME=cmp8
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH"

    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp8>


<cmp8l2x>
    -model=cmp8l2x
#include "cmp_common.config"
    -fsdbfile=cmp8l2x_top.fsdb
//     -vcs_run_args=+namevcdfile=cmp8l2x_top.vcd
    -config_rtl=CMP8
    -config_rtl=CORE_0
    -config_rtl=CORE_1
    -config_rtl=CORE_2
    -config_rtl=CORE_3
    -config_rtl=CORE_4
    -config_rtl=CORE_5
    -config_rtl=CORE_6
    -config_rtl=CORE_7
    -config_rtl=NOL2RTL
    -diaglist_cpp_args=-DALL_THREADS=64
    -drm_freeram=1800
    -drm_freeswap=1800    
    -max_cycle=4200000
    -midas_args=-DALL_THREADS=0xffffffffffffffff
    -midas_args=-DMAX_THREADS=64
    -rtl_timeout=17000
    -sas_run_args=-DSP0
    -sas_run_args=-DSP1
    -sas_run_args=-DSP2
    -sas_run_args=-DSP3
    -sas_run_args=-DSP4
    -sas_run_args=-DSP5
    -sas_run_args=-DSP6
    -sas_run_args=-DSP7
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive_noL2.list
    -vcs_build_args=+define+NOL2RTL
    -vcs_run_args=+ASI_CORE_AVILABLE=ffffffffffffffff
    -vcs_run_args=+ASI_CORE_ENABLE=ffffffffffffffff
    -vcs_run_args=+enableMemBFM=ff    
    -vcs_run_args=+noL2rtl
    -vera_build_args=SYS_NAME=cmp8l2x
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH -DNOL2RTL"

    // review later
    //-vcs_run_args=+lsu_mon_off
</cmp8l2x>




// partial bank

<cmp1b03>
    -model=cmp1b03
#include "cmp_common.config"
    -fsdbfile=cmp1b03_top.fsdb


    // will be defined in vcs build
    -config_rtl=CORE_0
    -config_rtl=CMP1
    
    -config_rtl=RTL_NO_BNK45
    -config_rtl=RTL_NO_BNK67    
    
    -diaglist_cpp_args=-DALL_THREADS=8
    -drm_freeram=1800
    -drm_freeswap=1800
    -max_cycle=2000000
    -rtl_timeout=1000
    
    // what exists for sas
    -sas_run_args=-DSP0

    // what does not exist for sunv
    -sunv_args=-define=RTL_NO_SPC1
    -sunv_args=-define=RTL_NO_SPC2
    -sunv_args=-define=RTL_NO_SPC3
    -sunv_args=-define=RTL_NO_SPC4
    -sunv_args=-define=RTL_NO_SPC5
    -sunv_args=-define=RTL_NO_SPC6
    -sunv_args=-define=RTL_NO_SPC7
    -sunv_args=-define=RTL_NO_BNK45
    -sunv_args=-define=RTL_NO_BNK67
        
    -sunv_nonprim_list=$DV_ROOT/verif/env/cmp/nonprimitive.list
    -vcs_run_args=+ASI_CORE_AVILABLE=ff
    -vcs_run_args=+ASI_CORE_ENABLE=ff

    // will runtime force NCU wires pm and  ba67|ba45|ba23|ba01
    -vcs_run_args=+bank_set_mask=3
    
    -vera_build_args=SYS_NAME=cmp1

    // review later
    //-vcs_run_args=+lsu_mon_off
    
    // what does not exist for Vera build time
    -vera_build_args=VERA_SYS_DEFS="-DCMP_BENCH -DRTL_NO_BNK45 -DRTL_NO_BNK67"
    
</cmp1b03>
