// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: dbp.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"

<dbp>
#ifdef AXIS_BUILD
    -config_rtl=AXIS
    -sunv_args=-keepSectionSym=AXIS_SMEM
    -sunv_args=-keepSectionSym=EMUL_COSIM
    -vcs_build_args=-P $VERA_HOME/lib/vera_pli.tab
    -vcs_build_args=$VERA_HOME/lib/libSysSciTask.a
    -vcs_build_args=-pl -lsocket -pl -lnsl -pl -lintl -pl -ldl
    -vcs_build_args=+v2000
    -axis_build_args="-scope n2_ccm"
#endif
    -asm_diag_root=$DV_ROOT/verif/diag
    -vera_config_root=$DV_ROOT/verif/env/config
    -vera_diag_root=$DV_ROOT/verif/diag/vera/dbp
    -image_diag_root=$DV_ROOT/verif/diag/vera/dbp
    -wait_cycle_to_kill=10
    -post_process_cmd="regreport -1 > status.log"
    -model=dbp
        -flist=$DV_ROOT/verif/env/dbp/dbp.flist
        -config_rtl=DBP_SAT
        -vera_vcon_file=dbp_top.vcon
        -env_base=$DV_ROOT/verif/env/dbp
    -drm_disk=[/export/home/n2=30]
        -drm_type=vcs
        -drm_freeram=500
        -drm_freeprocessor=1.0
    -sunv_args=-topcell=cpu
        -sunv_args=-version
        -sunv_args=-define=SIM
        -sunv_args=-define=LIB
        -sunv_args=-showCompiledOutCode=off
	-sunv_use_nonprim
	-sunv_nonprim_list=$DV_ROOT/verif/env/dbp/nonprimitive.list
        -sunv_args=-excludepreload
        -sunv_args=-out=cpu.v
        -sunv_args=-path=SUNV_RTL_PATH
	-sunv_args=-path=SUNVMACROS
	-sunv_args=-preload=SUNVLIBS_SUNV
        -sunv_args=-perlinclude=SUNVPERLINC
  	-sunv_args=-define=INITLATZERO
    -vlint_top=db0
    -vlint_args=+define+TOP=db0
	-vlint_args=-turn_unspecified_off
        -vlint_args=-binary_only
        -vlint_args=-vlint
        -vlint_args=-depth 999
        -vlint_args=-vr $DV_ROOT/verif/env/config/vlint.rc
        -vlint_args=-turn_unspecified_off
	-vlint_args=SUNVLIBS_OTHER


    -illust_run
    -illust_args=-b -c $DV_ROOT/verif/env/config/filter_vlint.rc
    -vera_diag_args=-DDBP_SAT
#ifndef AXIS_BUILD
	-zeroIn_build_args=+define+TOP=tb_top
        -zeroIn_build_args=+define+ZI_NO_RACE_AVOID
        -zeroIn_build_args=+define+X_GUARD
        -zeroIn_build_args=+define+LIB
        -zeroIn_build_args=-d cpu
        -zeroIn_build_args=-ctrl $DV_ROOT/verif/env/common/verilog/checkers/0in_checkers.v
	-zeroIn_build_args=-sim vcs
       // -zeroIn_build_args=-ctrl $DV_ROOT/verif/env/tcu/dbp_zeroIn_cfg.v
        -zeroIn_build_args=-fastmod
        -zeroIn_build_args="-fastsim turbo"
        -zeroIn_build_args=+error+command-19
        -zeroIn_build_args=+error+command-46
        -zeroIn_build_args=+error+command-6
        -zeroIn_build_args=+error+command-7
        -zeroIn_build_args=-exit_on_directive_errors
//        -zeroIn_build_args=+skip_modules+ncu_ccx_chkr
//        -zeroIn_build_args=+skip_modules+ncu_chkr_inst
//        -zeroIn_build_args=+skip_modules+ncu_efu_chkr
//        -zeroIn_build_args=+skip_modules+ncu_io_chkr
//        -zeroIn_build_args=+skip_modules+ncu_niu_chkr
//        -zeroIn_build_args=+skip_modules+ncu_pio_chkr
//        -zeroIn_build_args=+skip_modules+ncu_rtl_chkr
//        -zeroIn_build_args=+skip_modules+ncu_tcu_chkr
//        -zeroIn_build_args=+skip_modules+spc
        -zeroIn_build_args=SUNVLIBS_OTHER
        -vcs_build_args=-Mupdate
        -vcs_build_args=-vera
        -vcs_build_args=+rad
        -vcs_build_args=+v2k
        -vcs_build_args="-notice"
        //-vcs_build_args=" $DV_ROOT/verif/env/common/pli/dft_pli/dft_pli.dl"
#endif

        -vcs_build_args=+define+TOP=tb_top
        -vcs_build_args=+define+LIB
	-vcs_build_args=SUNVLIBS_OTHER
        -vcs_build_args="-P $DV_ROOT/verif/env/common/pli/monitor/monitor_pli.tab"
        -vcs_build_args=$DV_ROOT/verif/env/common/pli/monitor/libmonitor_pli.a
        -vcs_build_args="-P $DV_ROOT/verif/env/common/pli/dft_pli/dft_pli.tab"
        -vcs_build_args=+error+2000
        -vcs_build_args=+define+SCAN_MODE
	-vcs_build_args=+define+INITLATZERO
    -vcs_cm_config=$DV_ROOT/verif/env/dbp/dbp.cm_config
    -sas_run_args=-DSP0
        -sas_run_args=-DMEM_TEST
        -sas_run_args=-DINTR_TEST
        -sas_run_args=-DMEM_DEBUG
        -sas_run_args=-DNIAGARA
    -vcs_run_args=+vera_disable_final_report
        -vcs_run_args=+vera_exit_on_error
        -vcs_run_args=+maxerror=1
        -vcs_run_args=+maxwarning=5
    -vera_cov_obj=DBP_COVERAGE
</dbp>

//// Keep these around for future reference -csr
////        -zeroIn_build_args=+nowarn+parser-3+parser-47+parser-48
////        -zeroIn_build_args=+skip_modules+spc
////        -zeroIn_build_args=+skip_modules+efu_fct_ctl
////        -zeroIn_build_args=+skip_modules+efu_fct_ctl @@UPDATE@@ 
////        -vcs_build_args=+define+ZI_CHECKER_FSDB_DUMP
