// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: dft1.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"

//#define LAVA_LIB_PATH   /import/lava_lib/release/rel_1.3

<dft1>
    -asm_diag_root=$DV_ROOT/verif/diag
    -config_rtl=CORE_0 
    -config_rtl=SPG 
    -drm_disk=[/export/home/bw=30]
    -drm_type=vcs
    -drm_freeram=500
    -drm_freeprocessor=1.0
    -env_base=$DV_ROOT/verif/env/dft1
    -flist=$DV_ROOT/verif/env/dft1/dft1.flist
    -image_diag_root=$DV_ROOT/verif
    -model=dft1
    -post_process_cmd="regreport -1 > status.log"
    -rtl_timeout=1000
    SUNVFORCEOPTS
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=spg
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=spg.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -novera_build
    -novera_run
    -vlint_top=tb_top
    -vlint_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vlint_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vlint_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vlint_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vlint_args=-turn_unspecified_off
    -vlint_args=-binary
    -vlint_args=-vlint
    -vlint_args=-depth 999
    -vlint_args=-vr $DV_ROOT/verif/env/config/vlint.rc
    -wait_cycle_to_kill=15
    -zeroIn_build_args=-d spc
    -zeroIn_build_args=-ctrl $DV_ROOT/verif/env/spc/spc_zeroIn_cfg.v
    -zeroIn_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -zeroIn_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -zeroIn_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -zeroIn_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
</dft1>




<dftplay>
    -model=hong
    -flist=/import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/tmp.flist
    -novera_build
    -novera_run
    -vcs_run_args=+myvar
    -vcs_run_args=+hongvar=30

</dftplay>


<dftfgu>
    -model=fgu
    -novera_build
    -novera_run
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=fgu
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=fgu.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -novera_build
    -novera_run
</dftfgu>


<dft_fgu_fad_dp>
    -model=fgu_fad_dp
    -flist=$DV_ROOT/verif/env/dft1/scancheck.flist
    -novera_build
    -novera_run
    -post_process_cmd="regreport -1 > status.log" 
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=fgu_fad_dp
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=fgu_fad_dp.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_run_args=+maxchain=1000
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=fgu_fad_dp
    -vcs_build_args=+define+SCANIN=scan_in 
    -vcs_build_args=+define+SCANOUT=scan_out 
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in 
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in 
    -vcs_build_args=+define+MAXSCANCHAIN=100000
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P $DV_ROOT/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
    -vcs_run_args=+maxchain=100000
</dft_fgu_fad_dp>



<dft_ifu_ftu>
    -model=ifu_ftu
    -flist=$DV_ROOT/verif/env/dft1/scancheck.flist
    -novera_build
    -novera_run
    -post_process_cmd="regreport -1 > status.log" 
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=ifu_ftu
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=ifu_ftu.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_run_args=+maxchain=10000
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=ifu_ftu
    -vcs_build_args=+define+SCANIN=scan_in 
    -vcs_build_args=+define+SCANOUT=scan_out 
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in 
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in 
    -vcs_build_args=+define+MAXSCANCHAIN=100000
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P $DV_ROOT/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
    -vcs_run_args=+maxchain=100000
</dft_ifu_ftu>



<dft_ifu_cmu>
    -model=ifu_cmu
    -flist=$DV_ROOT/verif/env/dft1/scancheck.flist
    -novera_build
    -novera_run
    -post_process_cmd="regreport -1 > status.log" 
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=ifu_cmu
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=ifu_cmu.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_run_args=+maxchain=10000
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=ifu_cmu
    -vcs_build_args=+define+SCANIN=scan_in 
    -vcs_build_args=+define+SCANOUT=scan_out 
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in 
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in 
    -vcs_build_args=+define+MAXSCANCHAIN=100000
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P $DV_ROOT/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
    -vcs_run_args=+maxchain=100000
</dft_ifu_cmu>


<dft_wbox>
    -model=spc
    -flist=/import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/whitebox.flist
    -novera_build
    -novera_run
    -post_process_cmd="regreport -1 > status.log" 
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=spc
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=spc.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_run_args=+maxchain=1000
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=spc
    -vcs_build_args=+define+SCANIN=scan_in 
    -vcs_build_args=+define+SCANOUT=scan_out 
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in 
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in 
    -vcs_build_args=+define+MAXSCANCHAIN=100000
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P /import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS /import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
    -vcs_run_args=+maxchain=100000
</dft_wbox>


<dft_tcu_mbi_ctl>
    -model=tcu_mbi_ctl
    -flist=/import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/scancheck.flist
    -novera_build
    -novera_run
    -post_process_cmd="regreport -1 > status.log" 
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=tcu_mbi_ctl
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=tcu_mbi_ctl.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_run_args=+maxchain=1000
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=tcu_mbi_ctl
    -vcs_build_args=+define+SCANIN=scan_in 
    -vcs_build_args=+define+SCANOUT=scan_out 
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in 
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in 
    -vcs_build_args=+define+MAXSCANCHAIN=100000
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P /import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS /import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
    -vcs_run_args=+maxchain=100000
</dft_tcu_mbi_ctl>

//    -vcs_build_args=-P /import/n2-aus-dump/hkim/dump/dft1/rel-0.1/dft_pli.tab
//    -vcs_build_args=-LDFLAGS /import/n2-aus-dump/hkim/dump/dft1/rel-0.1/dft_pli.dl


<dft_fgu>
    -model=fgu
    -flist=/import/n2-aus-localdir1/hkim/n2cdmspp/verif/env/dft1/scancheck.flist
    -novera_build
    -novera_run
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=fgu
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=fgu.v
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=fgu
    -vcs_build_args=+define+MAXSCANCHAIN=100000
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P /import/n2-aus-dump/hkim/dump/dft1/rel-0.1/dft_pli.tab
    -vcs_build_args=-LDFLAGS /import/n2-aus-dump/hkim/dump/dft1/rel-0.1/dft_pli.dl
    -vcs_build_args=+vpi
</dft_fgu>








<dft_spc_fast>
    -model=spc_fast
    -flist=$DV_ROOT/verif/env/dft1/scandebug.flist
    -novera_build
    -novera_run
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=spc
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=spc.v
    -vcs_run_args=+maxchain=100000
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=spc
    -vcs_build_args=+define+SCANIN=scan_in
    -vcs_build_args=+define+SCANOUT=scan_out
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in
    -vcs_build_args=+define+MAXSCANCHAIN=100
    -vcs_build_args=+define+SCAN_MODE
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P $DV_ROOT/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
</dft_spc_fast>


<dft_spc>
    -model=spc
    -flist=$DV_ROOT/verif/env/dft1/scancheck.flist
    -novera_build
    -novera_run
    -sunv_args=-version
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=spc
    -sunv_args=-warn=2000
    -sunv_args=-ignorepartial
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-define=sim
    -sunv_args=-excludepreload
    -sunv_args=-out=spc.v
    -vcs_run_args=+maxchain=100000
    -vcs_build_args=-Mupdate
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v
    -vcs_build_args=+define+LIB
    -vcs_build_args=+define+INITLATZERO
    -vcs_build_args=+define+TOPSCAN=spc
    -vcs_build_args=+define+SCANIN=scan_in
    -vcs_build_args=+define+SCANOUT=scan_out
    -vcs_build_args=+define+SCANIN_CLK=tcu_siclk_in
    -vcs_build_args=+define+SCANOUT_CLK=tcu_soclk_in
    -vcs_build_args=+define+MAXSCANCHAIN=100
    -vcs_build_args=+define+SCAN_MODE
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt "
    -vcs_build_args="+delay_mode_zero -O4 "
    -vcs_build_args=-P $DV_ROOT/verif/env/dft1/dft_pli.tab
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/dft1/dft_pli.dl
    -vcs_build_args=+vpi
</dft_spc>
