// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: fc_pcie_systemc.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
	-syscan_build_args=-sysc=220
	-syscan_build_args="-cpp $CC_BIN/g++"
	-syscan_build_args="-cc $CC_BIN/gcc"
	-syscan_build_args=$DV_ROOT/verif/model/pcie/peu/peu_csr.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/peu/peu_csr.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/peu/ilu_intf.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/peu/peu_top.cpp:peu_top
        -syscan_build_args=$DV_ROOT/verif/model/pcie/peu/peu_csr_omni.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/tl/etl.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/tl/itl.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/tl/rsb.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/calculate_dllp_crc.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/calculate_lcrc.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/dll_ctrl_mgmt.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/fc_init.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/pl_consumer.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/pl_producer.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/tl_consumer.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/tl_producer.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/pl/ltssm.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/pl/pl_top.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/pcie_common/packetRefCount.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/pcie_common/basePacket.cpp
        -syscan_build_args=$DV_ROOT/verif/model/pcie/dll/replay_buffer.cpp
        -syscan_build_args="-cflags -g"
	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie"
	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie/top"
       	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie/pl"
       	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie/tl"
       	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie/dll"
       	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie/csr"
       	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/pcie/peu"
       	-syscan_build_args="-cflags -I$DV_ROOT/verif/model/vendor/TLM-2006-11-29/tlm"
       	-syscan_build_args="-cflags -DSEND_SKP"

