// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: fc_scan_reset.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"

<fc_scan_reset>
#include "fc_scan_common.config"
 // use '-config_cpp_args=-DDMU_GATES /-DPEU_GATES in sims command line
#ifdef USE_DMU_GATES
        -vcs_run_args=+asicGates
	-flist=$DV_ROOT/verif/env/fc_scan/dmu_gates.flist
#else
#ifndef GATESIM
    -flist=$DV_ROOT/verif/env/dmu/dmu.rtlflist
#endif
#endif
    -flist=$DV_ROOT/verif/env/dmu/dmu.libsflist

    -model=fc_scan_reset
    -sunv_args=-excludecell=\^fsr_left\$
    -sunv_args=-excludecell=\^fsr_right\$
    -sunv_args=-excludecell=\^fsr_bottom\$
    -sunv_args=-excludecell=\^dmu\$
    -sunv_args=-excludecell=\^peu\$
    -sunv_args=-excludecell=\^psr\$
    -sunv_args=-excludecell=\^esr\$
    -sunv_args=-excludecell=\^mac\$
    -sunv_args=-excludecell=\^headwig\$
    -sunv_args=-excludecell=\^rdp\$
    -sunv_args=-excludecell=\^rtx\$
    -sunv_args=-excludecell=\^tds\$
    -sunv_args=-define=NOINITMEM 
    -config_rtl=NOINITMEM   
    -config_rtl=FC_SCAN_RESET
    -sunv_nonprim_list=$DV_ROOT/verif/env/fc/nonprimitive.list
    -vera_build_args=USE_JTAG_DRIVER=1
    -vera_build_args=FLUSH_PLI=1
    -vera_build_args=VERA_SYS_DEFS="-DFC_SCAN_BENCH -DNCURTL -DFC_BENCH -DFC_SCAN_RESET"
    -vera_diag_args="-DFC_SCAN_RESET_BENCH"
    -vcs_build_args=+define+FC_SCAN_RESET
    -vcs_build_args=+define+TOPSCAN=tb_top.cpu
    -vcs_build_args=+define+FSR_NOATPG
#ifndef GATESIM
    -vcs_build_args=-P $DV_ROOT/verif/env/common/pli/dft_pli/dft_pli.tab
    -vcs_build_args=-P $DV_ROOT/verif/env/common/pli/dft_pli/resetChecks_pli.tab
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/common/pli/dft_pli/resetChecks_pli.dl
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/common/pli/dft_pli/dft_pli.dl
#endif

#ifdef USE_CCU_GATES
    -vcs_run_args=+asicGates
    -flist=$DV_ROOT/verif/env/fc_scan/ccu_gates.flist
#else
#ifndef GATESIM
    -flist=$DV_ROOT/verif/env/tcu/ccu_rtl.flist
#endif
#endif

#ifdef USE_NIU_GATES
    -vcs_run_args=+asicGates
    -flist=$DV_ROOT/verif/env/fc_scan/niu_gates.flist
    -flist=$DV_ROOT/verif/env/niu/rdp.libsflist
    -flist=$DV_ROOT/verif/env/niu/mac.libsflist
    -flist=$DV_ROOT/verif/env/niu/tds.libsflist
    -flist=$DV_ROOT/verif/env/niu/rtx.libsflist
#else
#ifndef GATESIM
    -flist=$DV_ROOT/verif/env/niu/niu.flist
#endif
#endif
#ifdef USE_PEU_GATES
    -vcs_run_args=+asicGates
    -flist=$DV_ROOT/verif/env/fc_scan/peu_gates.flist
    -flist=$DV_ROOT/verif/env/ilu_peu/peu.libsflist
#else
#ifndef GATESIM
    -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_rtl_encrypted.flist
    -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_common.rtlflist
#endif
#endif

#ifndef IO_GATE
    -flist=$DV_ROOT/verif/env/niu/eser_rtl.flist
#endif

#ifdef IO_GATE
        -config_rtl=FSR_RTL
#endif
#ifndef IO_GATE
    -flist=$DV_ROOT/verif/env/mcu/fbd_serdes.flist
#endif

    -zeroIn_build_args=+define+FC_SCAN_RESET
    -zeroIn_build_args=+define+ZI_NO_RACE_AVOID
    -zeroIn_build_args=+define+LIB
</fc_scan_reset>

