// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: ios.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"

<ios>

    -asm_diag_root=$DV_ROOT/verif/diag
    -vera_diag_root=$DV_ROOT/verif/diag
    -vera_config_root=$DV_ROOT/verif
    -image_diag_root=$DV_ROOT/verif
    -wait_cycle_to_kill=10
    -model=ios
	-flist=$DV_ROOT/verif/env/ios/ios_verif.flist
	-flist=$DV_ROOT/verif/env/niu/niu.flist
	-flist=$DV_ROOT/verif/env/niu/eser_rtl.flist
	-flist=$DV_ROOT/verif/env/niu/eser_tb.flist
	-flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_daemon.flist
	-flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_rtl_encrypted.flist
	-flist=$DV_ROOT/verif/env/ios/ios_common.flist
	-flist=$DV_ROOT/verif/env/ios/dmu.flist
	-config_rtl=IOS
        -config_rtl=NCURTL
        -env_base=$DV_ROOT/verif/env/ios
    -drm_disk=[/export/home/bw=30]
        -drm_type=vcs
        -drm_freeram=500
        -drm_freeprocessor=1.0
    -sunv_args=-topcell=cpu
    SUNVFORCEOPTS
    -vlint_top=cpu
        -vlint_args=-turn_unspecified_off
        -vlint_args=-binary
        -vlint_args=-vlint
        -vlint_args=-depth 999
        -vlint_args=-vr $DV_ROOT/verif/env/config/vlint.rc
        -vlint_args=-turn_unspecified_off
        -vlint_args=-v SUNVLIB
    -zeroIn_build_args=-d cpu
        -zeroIn_build_args=+define+TOP=tb_top
        -zeroIn_build_args=-v SUNVLIB
	-zeroIn_build_args=SUNVLIBS_OTHER
        -zeroIn_build_args=-sim vcs
	-zeroIn_build_args=-rcd
        -zeroIn_build_args=-ctrl $DV_ROOT/verif/env/ios/ios_zeroIn_cfg.v
	-zeroIn_build_args=-ctrl $DV_ROOT/verif/env/common/verilog/checkers/0in_checkers.v
        -zeroIn_build_args=+define+CPU=tb_top.cpu
	-zeroIn_build_args=+define+NIU=tb_top.cpu.niu
	-zeroIn_build_args=+define+ILU=tb_top.cpu.dmu.ilu
    -vcs_build_args=-Mupdate +define+MAC0 +define+MAC1 +define+MAC2 +define+MAC3 +define+RXC
	-vcs_build_args=+define+TOP=tb_top   
	-vcs_build_args=+define+NIU=tb_top.cpu.niu
	VCS_BUILD_WITH_GPP
	-vcs_build_args=" -P $DV_ROOT/verif/model/verilog/niu/sparse_mem_model/pli/mempli.tab "
//	-vcs_build_args=" +vc $DV_ROOT/verif/model/verilog/niu/sparse_mem_model/pli/src/mal.o"
//	-vcs_build_args=" +vc $DV_ROOT/verif/env/common/vera/niu_ippktgen/C/wrapper/pgVeraWrap.o"
//	-vcs_build_args=" +vc $DV_ROOT/verif/env/common/vera/niu_ippktgen/C/wrapper/genCpacket.o"
//	-vcs_build_args=" +vc $DV_ROOT/verif/env/common/vera/niu_ippktgen/C/libnet/src/libnet.a"
//	-vcs_build_args=" +vc $DV_ROOT/verif/env/common/vera/niu_ippktgen/C/wrapper/pgVera.a"
//	-vcs_build_args=" +vc $DV_ROOT/verif/env/common/pli/niu_pli/pgRandom.o"
        -vcs_build_args=" +vc vera/mal.o"
        -vcs_build_args=" +vc vera/pgVeraWrap.o"
        -vcs_build_args=" +vc vera/genCpacket.o"
        -vcs_build_args=" +vc vera/libnet.a"
        -vcs_build_args=" +vc vera/pgVera.a"
        -vcs_build_args=" +vc vera/pgRandom.o"
        -vcs_build_args=vera/mempli.a
//	-vcs_build_args=" $DV_ROOT/verif/model/verilog/niu/sparse_mem_model/pli/mempli.a"
        -vcs_build_args="-P $DV_ROOT/verif/env/common/pli/niu_pli/get_plus_args.tab"
        -vcs_build_args=" $DV_ROOT/verif/env/common/pli/niu_pli/get_plus_args.o -cc gcc"
        -vcs_build_args=+define+LIB
        -vcs_build_args=+define+INITLATZERO
        -vcs_build_args="-lstdc++"
//        -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt"
	-vcs_build_args="-Xstrict=0x1 -syslib -lpthread"
        -vcs_build_args=+define+IOS +define+N2 +define+N2_IOS
        -vcs_build_args=-vera
	-vcs_build_args=+rad
        -vcs_build_args=SUNVLIBS_OTHER
        -vcs_build_args="-P $DV_ROOT/verif/env/common/pli/bwutility/bwutility_pli.tab"
        -vcs_build_args=$DV_ROOT/verif/env/common/pli/bwutility/libbwutility_pli.a
        -vcs_build_args="-P $DV_ROOT/verif/env/common/pli/monitor/monitor_pli.tab"
        -vcs_build_args=$DV_ROOT/verif/env/common/pli/monitor/libmonitor_pli.a
        -vcs_build_args=+v2k
	-vcs_build_args=-P $DV_ROOT/verif/env/fnx/clib/report/report.tab
// 	-vcs_build_args="+vc $DV_ROOT/verif/env/fnx/clib/report/report.a"
	-vcs_build_args=vera/report.a
//        -vcs_build_args=-P $DV_ROOT/verif/env/fnx/clib/DenaliPCIE/denali_pcie.tab
//	-vcs_build_args=$DV_ROOT/verif/env/fnx/clib/DenaliPCIE/denali_pcie.o
//	-vcs_build_args=-P vera/denali_pcie.tab
	-vcs_build_args=-P $DENALI/verilog/pli.tab
	-vcs_build_args=$DENALI/verilog/denverlib.o
	-vcs_build_args=+vcs+initmem+0
//        -vcs_build_args=vera/denali_pcie_device.v
	-vcs_build_args="-P $DV_ROOT/verif/env/common/pli/monitor/monitor_pli.tab"
	-vcs_build_args=$DV_ROOT/verif/env/common/pli/monitor/libmonitor_pli.a
	-vcs_build_args="-P $DV_ROOT/verif/env/common/pli/socket/socket_pli.tab"
	-vcs_build_args=$DV_ROOT/verif/env/common/pli/socket/libsocket_pli.a
    -vcs_run_args=+vera_disable_final_report
	-vcs_run_args=+0in_checker_finish_delay+3000
        -vcs_run_args=+vera_exit_on_error
	-vcs_run_args=+mac0
	-vcs_run_args=+mac1
	-vcs_run_args=+mac2
	-vcs_run_args=+mac3
	-vcs_run_args=+rxc 
	-vcs_run_args=+MAC_SPEED0=10000
	-vcs_run_args=+MAC_SPEED1=10000
	-vcs_run_args=+MAC_SPEED2=10000
	-vcs_run_args=+MAC_SPEED3=10000
//	-vcs_run_args=+vera_directc=$DV_ROOT/verif/env/fnx/clib/DenaliPCIE/denali_pcie.dl:/import/vcs-release/vera,v6.3.10/5.x/lib/libdenaliddv.so
//	-vcs_run_args=+vera_directc=$DV_ROOT/verif/env/fnx/clib/DenaliPCIE/denali_pcie.dl:/import/vcs-release/vera,`configsrch vera`/5.x/lib/libdenaliddv.so
	-vcs_run_args=+vera_directc=$VERA_LIBDIR/denali_pcie.dl:/import/vcs-release/vera,`configsrch vera`/5.x/lib/libdenaliddv.so
	-vcs_run_args=+N2_IOS
	-vcs_run_args=+vera_semaphore_size=64000
	-vcs_run_args=+vera_mailbox_size=64000
    -vera_build_args=NEPTUNE_MODE=N2
	-vera_build_args=NO_0INMGR=1
	-vera_build_args=NEPTUNE_ENV=CDMSPP
        -vera_diag_args="-DN2_IOS"
    -vera_vcon_file=ios_top.vcon
    -sas_run_args=-DSP0
        -sas_run_args=-DMEM_TEST
        -sas_run_args=-DINTR_TEST
        -sas_run_args=-DMEM_DEBUG
        -sas_run_args=-DNIAGARA
    -vcs_run_args=+SRDS_REG_SLAM
    -vcs_run_args=+wserdes
    -fsdbfile=ios_top.fsdb
    -sunv_args=-verbose
        -sunv_args=-version
        -sunv_args=-topcell=cpu
        -sunv_args=-warn=2000
        -sunv_args=-ignorepartial
        -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
        -sunv_use_nonprim
        -sunv_nonprim_list=$DV_ROOT/verif/env/ios/nonprimitive.list
        -sunv_args=-excludecell=\^niu\$
// uncommenting disabling; next 2 lines
	-sunv_args=-excludecell=\^dmu\$
	-sunv_args=-excludecell=\^peu\$
	-sunv_args=-excludecell=\^psr\$
	-sunv_args=-excludecell=\^esr\$
	-sunv_args=-excludecell=\^hedwig\$
	-sunv_args=-excludecell=\^rdp\$
	-sunv_args=-excludecell=\^rtx\$
	-sunv_args=-excludecell=\^tds\$
	-sunv_args=-excludecell=\^mac\$
        -sunv_args=-excludepreload
        -sunv_args=-out=cpu.v
        -sunv_args=-path=SUNVMACROS
	-sunv_args=-path=SUNV_RTL_PATH
	-sunv_args=-preload=SUNVLIBS_SUNV
        -sunv_args=-perlinclude=SUNVPERLINC
	-sunv_args=-define=SIM
	-sunv_args=-define=LIB
	-sunv_args=-define=INITLATZERO
	-sunv_args=-showCompiledOutCode=off

    -post_process_cmd="regreport -1 > status.log"
</ios>
