// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: l2.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"
//#define LIBFILE1     LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v
//#define LIBFILE2     LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v
//#define LIBFILE3     LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v
//#define SUNVLIB      SUNV_PATH/library/cl_rtl_ext.v
//#define SUNVLIB      $DV_ROOT/verif/env/l2sat/hack/cl_rtl_ext.v
//#define SUNVMACROS   SUNV_PATH/macros
//#define SUNVPERLINC  SUNV_PATH/include

<l2>
    #ifdef AXIS_BUILD
    -config_rtl=AXIS
    -axis_build_args="-scope n2_ccm"
    -sunv_args=-keepSectionSym=AXIS_SMEM
    -sunv_args=-keepSectionSym=EMUL_COSIM
    -vcs_build_args=-P $VERA_HOME/lib/vera_pli.tab
    -vcs_build_args=$VERA_HOME/lib/libSysSciTask.a
    -vcs_build_args=-pl -lsocket -pl -lnsl -pl -lintl -pl -ldl
    -vcs_build_args=+v2000
   ////////////////////////-vcs_build_args=+define+AXIS_BUILD
    #endif
    -asm_diag_root=$DV_ROOT/verif/diag
        -vera_diag_root=$DV_ROOT/verif/diag
        -vera_config_root=$DV_ROOT/verif
        -image_diag_root=$DV_ROOT/verif
        -wait_cycle_to_kill=10
        -post_process_cmd="regreport -1 > status.log"
    -model=l2
        -vera_vcon_file=mss_top.vcon
        -env_base=$DV_ROOT/verif/env/l2sat
        -config_rtl=L2
        -flist=$DV_ROOT/verif/env/l2sat/l2sat.flist
    -drm_disk=[/export/home/bw=30]
        -drm_type=vcs
        -drm_freeram=500
        -drm_freeprocessor=1.0
    -sunv_args=-topcell=cpu
        SUNVFORCEOPTS
        -sunv_args=-define=SIM
        -sunv_args=-define=LIB
#ifdef SCAN_FLUSH_RESET
        -sunv_args=-define=SCAN_MODE
#endif
 	-sunv_args=-define=INITLATZERO
        -sunv_args=-showCompiledOutCode=off 
        -sunv_args=-define=NOL2RTL
        -sunv_use_nonprim
        -sunv_nonprim_list=$DV_ROOT/verif/env/l2sat/nonprimitive.list
        -sunv_args=-excludepreload
        -sunv_args=-out=cpu.v
        -sunv_args=-path=$DV_ROOT/libs/tisram/soc/n2_l2d_sp_512kb_cust_l/n2_l2d_sp_512kb_cust/rtl
            -sunv_args=-path=SUNV_RTL_PATH
            //-sunv_args=-preload=LIBFILE1
            //-sunv_args=-preload=LIBFILE2
            //-sunv_args=-preload=LIBFILE3
            //-sunv_args=-preload=LIBFILE4
            //-sunv_args=-preload=LIBFILE5
            //-sunv_args=-preload=SUNVLIB
            -sunv_args=-preload=SUNVLIBS_SUNV
            -sunv_args=-perlinclude=SUNVPERLINC
            //-sunv_args=-verbose
    -vlint_top=l2
        -vlint_args=+define+TOP=l2
        -vlint_args=-turn_unspecified_off
        -vlint_args=-binary
        -vlint_args=-vlint
        -vlint_args=-depth 999
        -vlint_args=-vr $DV_ROOT/verif/env/config/vlint.rc
        -vlint_args=-turn_unspecified_off
   -vlint_args=-preload=SUNVLIBS_OTHER
        //-vlint_args=-v LIBFILE1
       // -vlint_args=-v LIBFILE2
        //-vlint_args=-v LIBFILE3
        //-vlint_args=-v LIBFILE4
        //-vlint_args=-v LIBFILE5
        //-vlint_args=-v SUNVLIB
    -illust_run
    -illust_args=-b -c $DV_ROOT/verif/env/config/filter_vlint.rc
#ifdef AXIS_BUILD
	-zeroIn_build_args=-sim axis
#else
	-zeroIn_build_args=-sim vcs
#endif

    -zeroIn_build_args=-d cpu
	-zeroIn_build_args=-ctrl $DV_ROOT/verif/env/l2sat/l2_zeroIn_cfg.v
        -zeroIn_build_args=-ctrl $DV_ROOT/verif/env/common/verilog/checkers/0in_checkers.v    
	-zeroIn_build_args=SUNVLIBS_OTHER
        //-zeroIn_build_args=-v LIBFILE1
        //-zeroIn_build_args=-v LIBFILE2
        //-zeroIn_build_args=-v LIBFILE3
        //-zeroIn_build_args=-v LIBFILE4
        //-zeroIn_build_args=-v LIBFILE5
        //-zeroIn_build_args=-v SUNVLIB
//        -zeroIn_build_args=+define+LIB+INITLATZERO
#ifdef SCAN_FLUSH_RESET
        -zeroIn_build_args=+define+LIB+SCAN_MODE
#endif
        -zeroIn_build_args=+define+LIB+INITLATZERO
	-zeroIn_build_args=-exit_on_directive_errors
        -zeroIn_build_args=-fastmod
        -zeroIn_build_args="-fastsim turbo"
        -zeroIn_build_args=+error+command-19
        -zeroIn_build_args=+error+command-46
        -zeroIn_build_args=+error+command-6
        -zeroIn_build_args=+error+command-7
	-zeroIn_build_args=+skip_modules+spc
	-zeroIn_build_args=+nowarn+directive-23
        -zeroIn_build_args=-rcd
        -vcs_build_args="-P $DV_ROOT/verif/env/common/pli/monitor/monitor_pli.tab"    
	-vcs_build_args=$DV_ROOT/verif/env/common/pli/monitor/libmonitor_pli.a

#ifndef AXIS_BUILD
        VCS_BUILD_WITH_GPP
        -vcs_build_args=+vc
        -vcs_build_args="-v $DV_ROOT/verif/env/l2sat/error_injection/error_inject.v"
        -vcs_build_args=$DV_ROOT/verif/env/l2sat/error_injection/inject.o
    -vcs_build_args="-ld /usr/dist/pkgs/devpro,v4.2/5.x-sparc/bin/CC"
        -vcs_build_args=-Mupdate
        -vcs_build_args=-vera
        -vcs_build_args="+v2k"
        -vcs_build_args=+rad
        -vcs_build_args=+optconfigfile+$DV_ROOT/verif/env/l2sat/exclude.v

#endif
        -vcs_cm_config=$DV_ROOT/verif/env/l2sat/l2sat.cm_config
        -vcs_build_args=+define+BWSIM_SAME_GCLK_RCLK+
//        -vcs_build_args=+define+LIB+INITLATZERO
#ifdef SCAN_FLUSH_RESET
        -vcs_build_args=+define+LIB+SCAN_MODE
#endif
        -vcs_build_args=+define+LIB+INITLATZERO
        -vcs_build_args=+nospecify
        -vcs_build_args=SUNVLIBS_OTHER
        //-vcs_build_args=-v LIBFILE1
        //-vcs_build_args=-v LIBFILE2
        //-vcs_build_args=-v LIBFILE3
        //-vcs_build_args=-v LIBFILE4
        //-vcs_build_args=-v LIBFILE5
        //-vcs_build_args=-v SUNVLIB
    -sas_run_args=-DSP0
        -sas_run_args=-DMEM_TEST
        -sas_run_args=-DINTR_TEST
        -sas_run_args=-DMEM_DEBUG
        -sas_run_args=-DNIAGARA
    -vcs_run_args=+max_cycle=5000000
    -vcs_run_args=+vera_exit_on_error
//    -vera_cov_obj=L2_COVERAGE
</l2>
