// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: l2t_mbist_c_checker.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb0/icdc_cam.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb0/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb0/icdc_p0_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb0/oqarray_mem.o


    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/fbtag_cam.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/fbtag_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/iqarray_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/mbdata_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/mbtag_cam.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/mbtag_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/rdmatag_cam.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/rdmatag_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/wbtag_cam.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb2/wbtag_mem.o

    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb1/l2t_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb1/l2d_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb1/vuad_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mb1/output.o




-vcs_build_args=+define+mbist_VERIFICATION_DUMP
-vcs_build_args=+define+l2d
-vcs_build_args=+define+l2t
-vcs_build_args=+define+vuad
-vcs_build_args=+define+vuadd


-vcs_build_args=+define+l2t_ic_r0_p0
-vcs_build_args=+define+l2t_ic_r0_p1
-vcs_build_args=+define+l2t_ic_r0_p2
-vcs_build_args=+define+l2t_ic_r0_p3
-vcs_build_args=+define+l2t_ic_r2_p0
-vcs_build_args=+define+l2t_ic_r2_p1
-vcs_build_args=+define+l2t_ic_r2_p2
-vcs_build_args=+define+l2t_ic_r2_p3
-vcs_build_args=+define+l2t_dc_r0_p0
-vcs_build_args=+define+l2t_dc_r0_p1
-vcs_build_args=+define+l2t_dc_r0_p2
-vcs_build_args=+define+l2t_dc_r0_p3
-vcs_build_args=+define+l2t_dc_r2_p0
-vcs_build_args=+define+l2t_dc_r2_p1
-vcs_build_args=+define+l2t_dc_r2_p2
-vcs_build_args=+define+l2t_dc_r2_p3
-vcs_build_args=+define+l2t_oqarray
-vcs_build_args=+define+l2t_iccam_r0_p0
-vcs_build_args=+define+l2t_iccam_r0_p1
-vcs_build_args=+define+l2t_iccam_r0_p2
-vcs_build_args=+define+l2t_iccam_r0_p3
-vcs_build_args=+define+l2t_iccam_r2_p0
-vcs_build_args=+define+l2t_iccam_r2_p1
-vcs_build_args=+define+l2t_iccam_r2_p2
-vcs_build_args=+define+l2t_iccam_r2_p3
-vcs_build_args=+define+l2t_dccam_r0_p0
-vcs_build_args=+define+l2t_dccam_r0_p1
-vcs_build_args=+define+l2t_dccam_r0_p2
-vcs_build_args=+define+l2t_dccam_r0_p3
-vcs_build_args=+define+l2t_dccam_r2_p0
-vcs_build_args=+define+l2t_dccam_r2_p1
-vcs_build_args=+define+l2t_dccam_r2_p2
-vcs_build_args=+define+l2t_dccam_r2_p3

-vcs_build_args=+define+l2t_mbtag
-vcs_build_args=+define+l2t_mbtagcam
-vcs_build_args=+define+l2t_fbtag
-vcs_build_args=+define+l2t_fbtagcam
-vcs_build_args=+define+l2t_wbtag
-vcs_build_args=+define+l2t_wbtagcam
-vcs_build_args=+define+l2t_rdmatag
-vcs_build_args=+define+l2t_rdmatagcam
-vcs_build_args=+define+l2t_mbdata
-vcs_build_args=+define+l2t_iqarray

    -flist=$DV_ROOT/verif/env/fc_scan/pli/checkers/l2t_mbist/l2t_mbist.flist
