// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: mbist.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"
<mbist> 
    -model=MBIST 
    -flist=$DV_ROOT/verif/env/dft1/mbist.flist
    -flist=/import/n2-tools/dft/atpg/sims/dumplist
    -novera_build 
    -novera_run 
    -post_process_cmd="regreport -1 > status.log"  
    SUNVFORCEOPTS
    -sunv_args=-version 
    -sunv_args=-path=SUNV_RTL_PATH 
    -sunv_args=-preload=SUNV_PATH/library/cl_rtl_ext.v:LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v:LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v:LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v 
    -sunv_args=-perlinclude=SUNV_PATH/include 
    -sunv_args=-topcell=spc 
    -sunv_args=-warn=2000 
    -sunv_args=-ignorepartial 
    -sunv_args=-unusednet='unused$:unused[[0-9]+]$'
    -sunv_args=-excludepreload 
     -sunv_args=-showCompiledOutCode=off
     -sunv_args=-define=SIM
     -sunv_args=-define=LIB
     -sunv_args=-define=INITLATZERO
     -sunv_args=-define=NOL2RTL
    -sunv_args=-out=spc.v 
    -vcs_build_args=-Mupdate 
    -vcs_build_args=+notimingcheck 
    -vcs_build_args=+nospecify 
    -vcs_run_args=+maxchain=10000 
    -vcs_build_args=-v LAVA_LIB_PATH/cl_dp1/compiled/cl_dp1.v 
    -vcs_build_args=-v LAVA_LIB_PATH/cl_u1/compiled/cl_u1.v 
    -vcs_build_args=-v LAVA_LIB_PATH/cl_sc1/compiled/cl_sc1.v 
    -vcs_build_args=-v SUNV_PATH/library/cl_rtl_ext.v 
    -vcs_build_args=+define+LIB 
    -vcs_build_args=+define+INITLATZERO 
    -vcs_build_args=+define+TOPSCAN=spc 
    -vcs_build_args="-Xstrict=0x1 -syslib -lpthread +nbaopt " 
    -vcs_build_args="+delay_mode_zero -O4 " 
    -vcs_build_args=-P $DV_ROOT/verif/env/dft1/dft_pli.tab 
    -vcs_build_args= -LDFLAGS $DV_ROOT/verif/env/dft1/dft_pli.dl 
    -vcs_build_args=+vpi 
    -vcs_run_args=+maxchain=100000 
</mbist>

