// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: mmu.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"
//#define SUNV_PATH       /import/n2-tools/release/sunv/x.yz
//#define LAVA_LIB_PATH   /import/lava_lib/release/rel_r.s
//------------------------------------------------------------


<mmu>
    -asm_diag_root=$DV_ROOT/verif/diag
        -vera_diag_root=$DV_ROOT/verif/diag
        -vera_config_root=$DV_ROOT/verif
        -image_diag_root=$DV_ROOT/verif
        -wait_cycle_to_kill=10
        -post_process_cmd="regreport -nocut_name -1 > status.log"
    -model=mmu
        -flist=$DV_ROOT/verif/env/mmu/mmu.flist
        -config_rtl=XXX
        -vera_vcon_file=mmu_sim.vcon
        -env_base=$DV_ROOT/verif/env/mmu
    -drm_disk=[/export/home/bw=30]
        -drm_type=vcs
        -drm_freeram=500
        -drm_freeprocessor=1.0
    SUNVFORCEOPTS
    -sunv_args=-showCompiledOutCode=off
    -sunv_args=-filter=400010,300012,308003
    -sunv_args=-define=SIM
    -sunv_args=-define=LIB
    -sunv_args=-define=INITLATZERO
    -sunv_args=-define=NOL2RTL
    -sunv_args=-excludepreload
    -sunv_args=-ignorepartial
    -sunv_args=-out=mmu_sim.v
    -sunv_args=-path=$DV_ROOT/verif/env/mmu
    -sunv_args=-path=SUNV_RTL_PATH
    -sunv_args=-perlinclude=SUNV_PATH/include
    -sunv_args=-topcell=mmu_sim
    -sunv_args=-unusednet='unused$:unused\[[0-9]+\]$'
    -sunv_args=-version
    -sunv_args=-warn=2000
    -sunv_args=-preload=SUNVLIBS_SUNV
    -vlint_top=mmu
        -vlint_args=-turn_unspecified_off
        -vlint_args=-binary
        -vlint_args=-vlint
        -vlint_args=-depth 999
        -vlint_args=-vr $DV_ROOT/verif/env/config/vlint.rc
        -vlint_args=-turn_unspecified_off
        -vlint_args=SUNVLIBS_OTHER
    -zeroIn_build_args=-d mmu
        -zeroIn_build_args=-ctrl $DV_ROOT/verif/env/mmu/mmu_zeroIn_cfg.v
        -zeroIn_build_args=SUNVLIBS_OTHER
        -zeroIn_build_args=-sim vcs
    -vcs_build_args=-Mupdate
        -vcs_build_args=+define+LIB
        -vcs_build_args=-vera
        -vcs_build_args=SUNVLIBS_OTHER
    -vcs_build_args=+define+INITLATZERO
    -sas_run_args=-DSP0
        -sas_run_args=-DMEM_TEST
        -sas_run_args=-DINTR_TEST
        -sas_run_args=-DMEM_DEBUG
        -sas_run_args=-DNIAGARA
    -vcs_run_args=+vera_disable_final_report
    -vcs_run_args=+vera_exit_on_error
</mmu>
