// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: niu_mbist_c_checker.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb0/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb0/smx_store_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb0/smx_table_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb1_0/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb1_0/sfro_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb2/txdma_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb2/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb3/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb3/prebuf_header_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb3/rx_data_fifo_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb4/desccomp_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb4/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb6/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb6/tcam_array_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb6/vlan_data_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb7_0/zcp_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb7_0/output.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb5/tcam_mem.o
    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mb5/output.o


    -vcs_build_args=$DV_ROOT/verif/env/fc_scan/pli/checkers/redundancy_verif/inject_niu.o
#ifndef GATESIM
    -vcs_build_args=+define+NIU_INJECT
#endif

    -vcs_build_args=+define+mbist_niu_smxtable
    -vcs_build_args=+define+mbist_niu_smxstore
    -vcs_build_args=+define+mbist_niu_tcamarray
    -vcs_build_args=+define+mbist_niu_vlandata
    -vcs_build_args=+define+mbist_niu_desccomp_inst0
    -vcs_build_args=+define+mbist_niu_desccomp_inst1
    -vcs_build_args=+define+mbist_niu_prebufheader
    -vcs_build_args=+define+mbist_niu_rxdatafifo
    -vcs_build_args=+define+mbist_niu_txdma
    -vcs_build_args=+define+mbist_niu_zcp_0
    -vcs_build_args=+define+mbist_niu_sf0
    -vcs_build_args=+define+mbist_niu_ro0
    -vcs_build_args=+define+mbist_niu_tcam
    -flist=$DV_ROOT/verif/env/fc_scan/pli/checkers/niu_mbist/niu_mbist.flist
