// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T2 Processor File: peu.config
// Copyright (C) 1995-2007 Sun Microsystems, Inc. All Rights Reserved
// 4150 Network Circle, Santa Clara, California 95054, U.S.A.
//
// * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; version 2 of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
// 
// For the avoidance of doubt, and except that if any non-GPL license 
// choice is available it will apply instead, Sun elects to use only 
// the General Public License version 2 (GPLv2) at this time for any 
// software where a choice of GPL license versions is made 
// available with the language indicating that GPLv2 or any later version 
// may be used, or where a choice of which version of the GPL is applied is 
// otherwise unspecified. 
//
// Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara, 
// CA 95054 USA or visit www.sun.com if you need additional information or 
// have any questions. 
// 
// ========== Copyright Header End ============================================
#include "defaults.config"

<peu>
#include "peu_common.config"
#ifdef PEU_SYSTEMC_T2
        -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_systemc.flist
#else
    -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_rtl_encrypted.flist
#endif
    -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_common.rtlflist
</peu>

<peu_ue>
#include "peu_common.config"
    -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_rtl_UNencrypted.flist
    -flist=$DV_ROOT/verif/env/ilu_peu/ilu_peu_common.rtlflist
</peu_ue>
